.nav-bar {
/* Rectangle 1 */

position: absolute;
width: 100%;
height: 20%; /* Change later to work for mobile? */
left: 0px;
top: 0px;

/* Black

KaptureCon Primary Color
*/
background: grey;
}

a , .logo {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10%;

    
    width: 303px;
    height: 52px;
    
}
